.shopping-description>p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 26px;
}

.hero-img {
    background: url("../../assets/images/home/hero-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.discount-offer {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 23px;
    font-weight: 600;
}


.rite-box {
    height: 500px;
    display: flex;
    align-items: center;
    max-width: 450px;
    justify-content: center;
}

.rite-text {
    max-width: 230px;

}

.misc-text {
    display: flex;
    justify-content: space-between;
    padding: 23px;
    color: #fff;
    font-weight: 600;
}


.img-box1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-box-text {
    display: flex;
    flex-direction: column;

}

.img-box-text1 {
    font-weight: 600;
    margin-top: 15px;
}

.img-box-text2 {
    font-weight: 300;
}

.img-box1>img {
    max-height: 700px;
}

.heading {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 2.5rem;
}

.two-img-box {
    display: flex;
    justify-content: space-between;
}


.hero-img-2 {
    background: url("../../assets/images/home/hero-img-2.png");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-img-3 {
    background: url("../../assets/images/home/hero-img-3.png");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-img-4 {
    background: url("../../assets/images/home/hero-img-4.png");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box-3 {
    color: #fff;
    height: 800px;
    display: flex;
    align-items: center !important;
}

.p-text {
    font-family: 'Audiowide', sans-serif !important;
    font-size: 40px;
}

.flex-show {
    display: flex;
    justify-content: space-between;
}

.insta-gallery {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    background-color: #3F3d3d;
    color: #fff;
}

.gal-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px
}

.gal-box>img {
    box-shadow: 1px 2px 21px rgba(0, 0, 0, 0.24);
}